<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Owner Badminton</title>

    <!-- Favicon -->
    <link href="/admin/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/admin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/admin/css/style.css" rel="stylesheet">

</head>

<body>
<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <th:block th:replace="owner/owner_layout :: owner-spinner"></th:block>
    <!-- Spinner End -->

    <!-- Sidebar Start -->
    <th:block th:replace="owner/owner_layout :: owner-sidebar"></th:block>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <th:block th:replace="owner/owner_layout :: owner-header"></th:block>
        <!-- Navbar End -->

        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h1>Add New Badminton Court</h1>
                        <form th:action="@{/owner/badmintons/add}" th:object="${badminton}" method="post"
                              enctype="multipart/form-data" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="badmintonName" class="form-label">Badminton Name:</label>
                                <input type="text" th:field="*{badmintonName}" class="form-control" id="badmintonName" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('badmintonName')}" th:errors="*{badmintonName}"></div>
                            </div>
                            <div>
                                <select th:field="*{location.provinceId}" class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
                                    <option value="" selected>Chọn tỉnh thành</option>
                                </select>

                                <select th:field="*{location.districtId}" class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">
                                    <option value="" selected>Chọn quận huyện</option>
                                </select>

                                <select th:field="*{location.wardId}" class="form-select form-select-sm" id="ward" aria-label=".form-select-sm">
                                    <option value="" selected>Chọn phường xã</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Address:</label>
                                <input type="text" th:field="*{location.address}" class="form-control" id="address" required>
<!--                                <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>-->
                            </div>
                            <!--<div class="mb-3">
                                <label for="rentalPrice" class="form-label">Rental Price:</label>
                                <input type="number" th:field="*{rentalPrice}" class="form-control" id="rentalPrice" required>
                            </div>-->
                            <div class="mb-3">
                                <label for="courtQuantity" class="form-label">Court Quantity:</label>
                                <input type="number" th:field="*{courtQuantity}" class="form-control" id="courtQuantity" required>
                            </div>
                            <!--<div class="mb-3">
                                <label for="minPlayers" class="form-label">Minimum Players:</label>
                                <input type="number" th:field="*{minPlayers}" class="form-control" id="minPlayers" required>
                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="maxPlayers" class="form-label">Maximum Players:</label>-->
<!--                                <input type="number" th:field="*{maxPlayers}" class="form-control" id="maxPlayers" required>-->
<!--                            </div>-->
                            <div class="mb-3">
                                <label for="openingTime" class="form-label">Opening Time:</label>
                                <select th:field="*{openingTime}" id="openingTime" class="form-control" style="height: 47px; background-color: white;" required>
                                    <!-- Options will be generated by JavaScript -->
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="closingTime" class="form-label">Closing Time:</label>
                                <select th:field="*{closingTime}" id="closingTime" class="form-control" style="height: 47px; background-color: white;" required>
                                    <!-- Options will be generated by JavaScript -->
                                </select>
                            </div>
                            <div id="error-message" class="mb-3" hidden>
                                <div class="col">
                                    <div class="mb-3 mb-md-0 text-center">
                                        <span class="error-message" style="color: red">End time must be at least one hour after start time.</span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Badminton</button>
                            <a th:href="@{/owner}" class="btn btn-link">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form End -->

        <!-- Footer Start -->

        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a  href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/admin/lib/chart/chart.min.js"></script>
<script src="/admin/lib/easing/easing.min.js"></script>
<script src="/admin/lib/waypoints/waypoints.min.js"></script>
<script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
<script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<!-- Template Javascript -->
<script src="/admin/js/administrative_levels.js"></script>
<script src="/admin/js/main.js"></script>
<script src="/admin/js/badmintonCRUD.js"></script>

<!--Kiểm tra EndDate > StartDate 1 tiếng -->

</body>

</html>
